body{
  margin:0;
}
#control {
   padding-right: 20px;
   float: right;
}
body.white {
   background-color: white;
}
body.black {
   background-color: black;
}
h1 {
  border-bottom:0px solid red;
  padding:20px;
  margin-bottom: 0;
}
h1>a{
  text-decoration: none;
}
ol{
  border-right:0px ;
  width: 150px;
  float:left;
  margin-top:0;
  padding-top:20px;
  height:1000px;
}
#article{
  padding-left:20px;
  float:left;
  width:400px;
}
